
.facebooklike{
    border-bottom-style:none;
    border-left-style: none;
    border-right-style:none;
    border-top-style:none;
    height:auto;
    /*height:80px;
    /*width:450px;*/
    overflow:hidden;
    background-color: transparent;
    border: 01px solid purple;
    padding: 0;



}

















/*
.row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    overflow: hidden;
    
}
*/
/*.menurow {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    overflow: hidden;
    padding: 10px 0 0 0;
}*/
/*
.row::after {
    content: "";
    clear: both;
    display: block;
}
*/
.rowcell {
    /*flex: 0 0 auto;*/
    padding: 0;
    text-align: center;
    display: flex;
}
/*
img {
    display: block;
    width: auto;
    height: 100%;
}
*/
.leftblank {
    width: 5%;
}



.foot {
    width:95%;
}

.addpad{
    padding:10px 10px 10px 10px;
}

/*.mleft{
    display: flex;
    width: 8%;
}

.mcenter{
    display:flex;
    width: 75%;
}
*/
.mright{
    /*display: flex;*/
    width: 13%;
}

.pillrow {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    overflow: hidden;
    background-color: #B3B6C9;
}




.otp{
    /*display:flex;*/
    /*min-width: 50px;*/

}

.otp a:hover{
    /*color:#000;*/
    /*background-color:#FFFFFF;*/
    /*transition: none;*/
    /*background-color 0,color 0,box-shadow 0,opacity 0;*/
    /*transition-property: background-color, color, box-shadow, opacity;*/
    /*transition-duration: 0.3s, 0.15s, 0.3s, 0.3s;*/
    /*transition-timing-function: initial, initial, initial, initial;*/
    /*transition-delay: initial, initial, initial, initial;*/

}
