body {
    background-color: #66A3FF;
    /*background-image: url("../images/mylittlepony.jpg");
    background-repeat: repeat-y;
    */
    
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    width: 100%;
}
.left {
    position: relative;
    left: 10px;
    width: 880px;
}
.pos_justify {
    position: relative;
    text-align: justify;
    left: 40px;
    width: 1085px;
}
a:link {
    color: purple;
}
a:visited {
    color: #007A00;
}
a:hover {
    color: #66FF76;
}
a:active {
    color:#66FF76;
}
.pos_right {
    position: relative;
    left: 10px;
}
.iframehead {
    width: 1050px;
    height: 500px;
    border: 0;
    overflow-y: hidden;
}
#corrections {
    background-color: #ED7BAB;
}
#header_iframe {
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}
.images {

    width: 1090px;
    height:340px;
    border: 0px;
    overflow-x: hidden; 

}
.menu {
    width:735px;
    height:110px;
    border: 0px;
}
.footer {
    width: 862px;
    height: 170px;
    border: 0px;
}
