/*body {
background-color: #66A3FF;



margin: 0;
padding: 0;
}
*/
/*
.container {
position: relative;
width: 100%;
}*/
/*
.left {
position: relative;
left: 10px;
width: 880px;
}
.pos_justify {
position: relative;
text-align: justify;
left: 40px;
width: 1085px;
}
a:link {
color: purple;
}
a:visited {
color: #007A00;
}
a:hover {
color: #66FF76;
}
a:active {
color:#66FF76;
}
.pos_right {
position: relative;
left: 10px;
}
.iframehead {
width: 1050px;
height: 500px;
border: 0;
overflow-y: hidden;
}
#corrections {
background-color: #ED7BAB;
}
#header_iframe {
background-color: transparent;
border: 0px none transparent;
padding: 0px;
overflow: hidden;
}*/
/*.images {
width: 1090px;
height:340px;
border: 0px;
overflow-x: hidden;
}*/
/*
.menu {
width:735px;
height:110px;
border: 0px;
}
.footer {
width: 862px;
height: 170px;
border: 0px;
}
.imgright {
float: right;
}
*/
/* images.html code
body {
width:1051px;
height:290px;
overflow-x:hidden;
}*/
/*
#placeholderdiv {
width: 291px;
height: 193px;
position: relative;
left: 615px;
top: -242px;
}*/
/*    #images {
width: 1051px;
height: 290px;
}
*/

/*
body.c3 {
height: 290px;
width: 1051px;
}
img.c2 {
width: 221px;
height: 290px;
border: 0;
}
img.c1 {
width: 384px;
height: 288px;
border: 0;
}
*/

/* New CSS code  */
body {
background-color: #66A3FF;

overflow-x:hidden;

margin: 0;
padding: 0;
font-family: "Times New Roman", Times, serif;
}
h1{
position: relative;
/*font-size:2em;*/
font-weight: bold;
display:block;
text-align: justify;
font-size: 2.2vw;
}
p{
font-size:2.1vw;
text-align: justify;
}


.fill {
/*display:flex;*/
/*justify-content:center;*/
/*align-items:center;*/
/*overflow:hidden*/
}
.fill img {
flex-shrink:0;
min-width:100%;
min-height:100%
}

/*
.row.match-my-cols{
    overflow:hidden;
}

.row.match-my-cols [class*="col-"]{
    margin-bottom:-99999px;
    padding-bottom:99999px;
}
*/
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column-reverse;
}

#anic{
    /* background-size: cover; */
    /*background-image: cover;*/
    /*max-height: 100%;*/
    /*object-fit: cover;*/
    /*object-position: center;*/
    height: 80%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

#placeholderdiv{
    height: 100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}